<body>
  <div class="container container-padding">
    <section class="articles">
      <div class="column is-10 is-offset-1">
        <!-- START ARTICLE -->
        <div class="card article">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title article-title">{{responseData.judul}}</p>
                <div class="tags has-addons level-item">
                  <span class="tag is-rounded is-info">@resep.jsr</span>
                  <span class="tag is-rounded">Jurus Sehat Rasulullah</span>
                </div>
              </div>
            </div>
            <div class="content article-body">
              <!-- JUDUL RESEP  -->
              <div>
                <figure class="has-text-centered">
                  <img src="./assets/images/indusedwater-orange-blueberry.jpg" alt="Gambar infused water" width="480" loading="lazy" />
                </figure>
              </div>
              <div class="content">
                <h5 class="subtitle is-5 padding-top-title">Air Infused Water</h5>
              </div>

              <div>
                <p *ngFor="let keterangan of arrayKeterangan">{{keterangan}}</p>
              </div>

              <table id="tabel_resep_infused" class="display cell-border">
                <thead>
                  <tr>
                    <th>Bahan 1</th>
                    <th>Bahan 2</th>
                    <th>Bahan Pelengkap</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

              <div class="is-divider"></div>

              <h3 class="has-text-centered">
                {{judulAirNano}}
              </h3>

              <div>
                <p *ngFor="let airNanoItem of arrayBarisAirNano">
                  {{airNanoItem}}
                </p>
              </div>

              <table id="tabel_resep_air-nano" class="table is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Bahan 1</th>
                    <th>Bahan 2</th>
                    <th>Bahan Pelengkap</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of arrayBarisAirNano">
                    <td>{{item.bahan1}}</td>
                    <td>{{item.bahan2}}</td>
                    <td>{{item.bahan3pelengkap }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- END ARTICLE -->
      </div>
    </section>
  </div>
</body>
