<section class="container">
  <div class="columns" id="sectioncontainer">
    <div class="column is-6 is-offset-3 is-10-mobile is-offset-1-mobile">
      <article class="message is-info">
        <div class="message-header">
          <p>Daftar Resep Minuman Sehat</p>
        </div>
        <div class="message-body">
          <div>
            <p>Daftar resep minuman sehat dari bahan-bahan alami, yang dikumpulkan dari kiriman Instagram dan Story
              Instagram Ustadz Dr. Zaidul Akbar</p>
          </div>
          <div class="is-divider"></div>
          <div class="board-item" *ngFor="let item of listDaftarResep; let i=index"
            (click)="onClickResepMakanan(i, item)">
            <div class="board-item-content"><span>{{item}}</span></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
