<section class="container">
  <div class="columns" id="sectioncontainer">
    <div class="column is-6 is-offset-3 is-10-mobile is-offset-1-mobile">
      <article class="message is-primary">
        <div class="message-header">
          <p>Daftar Resep Minuman Sehat</p>
        </div>
        <div class="message-body">
          <div>
            <p>Daftar resep minuman sehat dari bahan-bahan alami, yang dikumpulkan dari kiriman Instagram dan Story Instagram Ustadz Dr. Zaidul Akbar</p>
          </div>
          <div class="is-divider"></div>
          <div class="board-item">
            <div class="board-item-content"><span>Tiger Pushes Mountain</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Force of Eagle's Claw</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Red Sun, Silver Moon</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Palm of the Iron Fox</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Monkey Leaps Through Mist</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Leopard Stalks in Snow</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Black Heart, White Mountain</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Sting of the Scorpion's Tail</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Nightingale Sings No More</span></div>
          </div>
          <div class="board-item">
            <div class="board-item-content"><span>Wolf's Breath, Dragon Fire</span></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
